{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}

{% block title %}<title>Algorithm Battle</title>{% endblock title %}

{% block content %}
<header>
    <!-- HEADER IMAGE -->
    <div class="jumbotron jumbotron-fluid header-jumbo">
        <img src="{% static 'images/pacman-header.gif' %}" class="mx-auto d-block">
    </div>
    <!-- END HEADER IMAGE -->
</header>
<main>
    <div class="container algo-container">
        <div id="maze" class="card bg-dark text-white" style="text-align: center;">
        </div>
        <!-- <div class="card bg-dark text-white" id=graph-card>      
            <canvas id="myChart" height="200" width="400"></canvas>
        </div> -->
        <div class="container run-btns">
            <button id="dfs" type="button" class="btn btn-warning">Depth-First Search</button>
            <button id="bfs" type="button" class="btn btn-warning">Breadth-First Search</button>
            <button id="bestfs" type="button" class="btn btn-warning">Best-First Search</button>
            <button id="astar" type="button" class="btn btn-warning">A* Search</button>
        </div>    
    </div>

</main>
<!-- <footer>
    <div class="jumbotron jumbotron-fluid header-jumbo">
        <img src="{% static 'images/pacman-header.gif' %}" class="mx-auto d-block">
    </div>
</footer> -->
{% endblock content %}


{% block js %}

<script>

    function GenerateMaze(){
        $.ajax({ 
            type : "POST", 
            url : "/generateMaze", 
            contentType: 'application/json; charset=UTF-8;',
            dataType: "json",
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
            success : function(result) { 
                //alert(result.maze.length);
                $('#maze').data('maze', result.maze);
                var output = "";
                for(i in result.maze){
                    for(j=0; j<result.maze[i].length; ++j){
                        if(result.maze[i].charAt(j) == ' '){
                            output += '&nbsp;&nbsp;&nbsp;';
                        }
                        else if(result.maze[i].charAt(j) == '%'){
                            output += '%';
                        }
                        else if(result.maze[i].charAt(j) == 'P'){
                            output += 'S';
                        }
                        else{
                            output += 'E';
                        }
                    }
                    output += '<br>';
                }
                $('#maze').html(output);
            }, 
            error : function(result) { 
                alert('An error has occured.');
            } 
            }); 
    }

    GenerateMaze();
    
    function RunPacman(alg){
        $.ajax({ 
            type : "POST", 
            url : "/runPacman", 
            data: { 'alg': alg,
                    'maze': $('#maze').data('maze') },
            contentType: 'application/json; charset=UTF-8;',
            dataType: "json",
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            },
            success : function(result) { 
                // alert(result.output.length);                
                for(i in result.output){
                    (function(i){
                        setTimeout(function(){
                            var output = "";  
                            for(j=0; j<result.output[i].length; ++j){
                                if(result.output[i].charAt(j) == ' '){
                                    output += '&nbsp;&nbsp;&nbsp;';
                                }
                                else if(result.output[i].charAt(j) == '%'){
                                    output += '%';
                                }
                                else if(result.output[i].charAt(j) == 'P'){
                                    output += 'S';
                                }
                                else if(result.output[i].charAt(j) == 'E'){
                                    output += 'E';
                                }
                                else if(result.output[i].charAt(j) == '\n'){
                                    output += '<br>';
                                }
                                // else if(result.output[i].charAt(j) == '^'){
                                //     output += '^ ';
                                // }
                                // else if(result.output[i].charAt(j) == 'v'){
                                //     output += 'v ';
                                // }
                                else{
                                    output += result.output[i].charAt(j);
                                }
                            }
                            $('#maze').html(output);
                        }, 250 *i);

                    })(i);                      
                }
            }, 
            error : function(result) { 
                alert('An error has occured.');
            } 
            }); 
    }

    $('#dfs').click(function(){
        RunPacman('dfs');
    });

    $('#bfs').click(function(){
        RunPacman('bfs');
    });

    $('#bestfs').click(function(){
        RunPacman('bestfs');
    });

    $('#astar').click(function(){
        RunPacman('astar');
    });
</script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>
    var fontColor = 'white'
    var gridColor = '#666'
    var fontSize = 18
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Depth-First Search', 'Breath-First Search', 'Best-First Search'],
            datasets: [{
                label: '# of Runs',
                data: [12, 19, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function (toolTipItems, data) {
                        return
                    },
                    footer: function (toolTipItems, data) {
                        var timesRan = 'Times Ran: 347'
                        var avgSpeed = 'Average Speed: 0.90238 sec.'
                        return [timesRan, avgSpeed]
                    }
                }
            },
            legend: {
                labels: {
                    fontColor: fontColor,
                    fontSize: fontSize
                }
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of times Ran',
                        fontColor: fontColor,
                        fontSize: fontSize
                    },
                    gridLines: {
                        color: gridColor
                    },
                    ticks: {
                        beginAtZero: true,
                        fontColor: fontColor,
                        fontSize: fontSize
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Algorithm',
                        fontColor: fontColor,
                        fontSize: fontSize
                    },
                    gridLines: {
                        color: gridColor
                    },
                    ticks: {
                        fontColor: fontColor,
                        fontSize: fontSize
                    }
                }]
            }
        }
    });
</script> -->
{% endblock js %}